net "rst" LOC = "P57";
net "clk" LOC = "P76";

net "lcd_rs" LOC = "P156";
net "lcd_rw" LOC = "P155";
net "lcd_e" LOC = "P154";
net "lcd_data[7]" LOC = "P143";
net "lcd_data[6]" LOC = "P144";
net "lcd_data[5]" LOC = "P146";
net "lcd_data[4]" LOC = "P147";
net "lcd_data[3]" LOC = "P148";
net "lcd_data[2]" LOC = "P149";
net "lcd_data[1]" LOC = "P150";
net "lcd_data[0]" LOC = "P152";

net "buttons[0]" LOC = "P63";
net "buttons[1]" LOC = "P67";
net "buttons[2]" LOC = "P65";
net "buttons[3]" LOC = "P71";
net "buttons[4]" LOC = "P68";
net "buttons[5]" LOC = "P74";
net "buttons[6]" LOC = "P50";
net "buttons[7]" LOC = "P58";

net "switches[7]" LOC = "P34";
net "switches[6]" LOC = "P35";
net "switches[5]" LOC = "P37";
net "switches[4]" LOC = "P36";
net "switches[3]" LOC = "P40";
net "switches[2]" LOC = "P39";
net "switches[1]" LOC = "P43";
net "switches[0]" LOC = "P42";

net "leds[0]" LOC = "P191";
net "leds[1]" LOC = "P196";
net "leds[2]" LOC = "P198";
net "leds[3]" LOC = "P200";
net "leds[4]" LOC = "P204";
net "leds[5]" LOC = "P10";
net "leds[6]" LOC = "P12";
net "leds[7]" LOC = "P15";
net "leds[8]" LOC = "P190";
net "leds[9]" LOC = "P194";
net "leds[10]" LOC = "P197";
net "leds[11]" LOC = "P199";
net "leds[12]" LOC = "P203";
net "leds[13]" LOC = "P205";
net "leds[14]" LOC = "P13";
net "leds[15]" LOC = "P16";